# Dependencies
node_modules
.pnpm-store

# Production build
dist
dist-ssr

# Environment variables
.env
.env.local
.env.*.local

# IDE & OS
.DS_Store
*.pem
.vscode/
.idea/

# System logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
